*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/libs/mxcomponent.jar
/app/libs/interface.jar
/app/libs/support.jar
armeabi/
armeabi-v7a/
jni/